.container{
    position: relative;
    background-color: #EAEAEA;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.circle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-40%, -50%);
    min-width: 35%;
    min-height: 75%;
    background-color: #FED29C;
    border-radius: 50%;
    z-index: 1;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100%;
}
.content{
    z-index: 2;
}
.imageContainer{
    z-index: 2;
}
.imageContainer img{
    max-width: 62%;
}